In [1]:
# Dependencies
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base

from sqlalchemy import Column, Integer, String, Float

In [2]:
Base = declarative_base()

In [3]:
#Bring in the clean CSV
measurement = pd.read_csv("Data/clean_hawaii_measurement.csv")
station = pd.read_csv("Data/clean_hawaii_station.csv")

In [4]:
#Look at the Data
measurement.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06  0.00    73

In [5]:
station.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [6]:
#Creat the class for Measurement and Station
class Measurement(Base):
    __tablename__ = 'measurement'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(String(255))
    prcp = Column(Float(50))
    tobs = Column(Float(50))

class Station(Base):
    __tablename__ = 'station'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(Float(50))
    longitude = Column(Float(50))
    elevation = Column(Float(50))

In [7]:
#Database Connection
engine = create_engine('sqlite:///hawaii.sqlite')
conn = engine.connect()

In [8]:
#Make Tables
Base.metadata.create_all(engine)

In [9]:
engine.table_names()

['measurement', 'station']

In [10]:
#Make the session
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [11]:
#Add the Data
measurement.to_sql(name='measurement', con=conn, if_exists='append', index=False)
station.to_sql(name='station', con=conn, if_exists='append', index=False)

In [12]:
#Query
station_list = session.query(Station)
for station in station_list:
    print(station.__dict__)

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x1156a5d68>, 'longitude': -157.8168, 'latitude': 21.2716, 'station': 'USC00519397', 'elevation': 3.0, 'name': 'WAIKIKI 717.2, HI US', 'id': 1}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x1103b5198>, 'longitude': -157.8015, 'latitude': 21.4234, 'station': 'USC00513117', 'elevation': 14.6, 'name': 'KANEOHE 838.1, HI US', 'id': 2}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x1103b5e80>, 'longitude': -157.8374, 'latitude': 21.5213, 'station': 'USC00514830', 'elevation': 7.0, 'name': 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 'id': 3}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x1103b5c18>, 'longitude': -157.9751, 'latitude': 21.3934, 'station': 'USC00517948', 'elevation': 11.9, 'name': 'PEARL CITY, HI US', 'id': 4}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x1103b5c50>, 'longitude': -158.0111, 'latitude': 21.4992, 'station': 'USC00518838', 'elevation': 306.6, 'name': 'UPPER WAHIAWA 874.3, HI US', 'id': 5}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x1103b5fd0>, 'longitude': -157.71139, 'latitude': 21.33556, 'station': 'USC00519523', 'elevation': 19.5, 'name': 'WAIMANALO EXPERIMENTAL FARM, HI US', 'id': 6}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x1103b5f60>, 'longitude': -157.84888999999998, 'latitude': 21.45167, 'station': 'USC00519281', 'elevation': 32.9, 'name': 'WAIHEE 837.5, HI US', 'id': 7}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x1103b5b38>, 'longitude': -157.9992, 'latitude': 21.3152, 'station': 'USC00511918', 'elevation': 0.9, 'name': 'HONOLULU OBSERVATORY 702.2, HI US', 'id': 8}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x1103b5a90>, 'longitude': -157.8025, 'latitude': 21.3331, 'station': 'USC00516128', 'elevation': 152.4, 'name': 'MANOA LYON ARBO 785.2, HI US', 'id': 9}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x1103b5b70>, 'longitude': -157.8168, 'latitude': 21.2716, 'station': 'USC00519397', 'elevation': 3.0, 'name': 'WAIKIKI 717.2, HI US', 'id': 10}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x1103b5ba8>, 'longitude': -157.8015, 'latitude': 21.4234, 'station': 'USC00513117', 'elevation': 14.6, 'name': 'KANEOHE 838.1, HI US', 'id': 11}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x1103b54e0>, 'longitude': -157.8374, 'latitude': 21.5213, 'station': 'USC00514830', 'elevation': 7.0, 'name': 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 'id': 12}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x11697c160>, 'longitude': -157.9751, 'latitude': 21.3934, 'station': 'USC00517948', 'elevation': 11.9, 'name': 'PEARL CITY, HI US', 'id': 13}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x11697c1d0>, 'longitude': -158.0111, 'latitude': 21.4992, 'station': 'USC00518838', 'elevation': 306.6, 'name': 'UPPER WAHIAWA 874.3, HI US', 'id': 14}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x11697cc50>, 'longitude': -157.71139, 'latitude': 21.33556, 'station': 'USC00519523', 'elevation': 19.5, 'name': 'WAIMANALO EXPERIMENTAL FARM, HI US', 'id': 15}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x11697ccf8>, 'longitude': -157.84888999999995, 'latitude': 21.45167, 'station': 'USC00519281', 'elevation': 32.9, 'name': 'WAIHEE 837.5, HI US', 'id': 16}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x11697cda0>, 'longitude': -157.9992, 'latitude': 21.3152, 'station': 'USC00511918', 'elevation': 0.9, 'name': 'HONOLULU OBSERVATORY 702.2, HI US', 'id': 17}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x11697ce48>, 'longitude': -157.8025, 'latitude': 21.3331, 'station': 'USC00516128', 'elevation': 152.4, 'name': 'MANOA LYON ARBO 785.2, HI US', 'id': 18}